<!doctype html>

<html>
  <head>
    <title>paper-expansion-panel test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../web-component-tester/browser.js"></script>

    <link rel="import" href="../paper-expansion-panel.html">
  </head>
  <body>

    <test-fixture id="basic">
      <template>
        <paper-expansion-panel></paper-expansion-panel>
      </template>
    </test-fixture>

    <script>
      suite('paper-expansion-panel', function() {

        test('instantiating the element works', function() {
          var element = fixture('basic');
          assert.equal(element.is, 'paper-expansion-panel');
        });

      });
    </script>
  </body>
</html>
